extends layout

block content
  h1= title
  - let foods = results;

  div(class="container-fluid")
      each food in foods
        - let destination = `dispatch("/food/update?id=${food._id}")`
        div(class="col-sm-2")
          p FoodName: #{food.costume_type}
          p FoodCost: $#{food.cost}
          p FoodSize: #{food.size}
        button.btn.btn-sm.btn-primary.ml-1(onclick= destination) Update
        br
        br

  script.
    function dispatch(path) {
      window.location.href = path;
    }

