extends layout

block content
  h1= title
  - let foods = results;
  - let create = `dispatch("/food/create")`
  button.btn.btn-sm.btn-primary.ml-1(onclick= create) Create

  div(class="container-fluid")
    each food in foods
      - let destination = `dispatch("/food/update?id=${food._id}")`
      - let detail = `dispatch("/food/detail?id=${food._id}")`
      - let deleteAction = `dispatch("/food/delete?id=${food._id}")`
      div(class="col-sm-2")
        p FoodName: #{food.costume_type}
        p FoodCost: $#{food.cost}
        p FoodSize: #{food.size}
        button.btn.btn-sm.btn-secondary.ml-1(onclick= destination) Update
        button.btn.btn-sm.btn-danger.ml-1(onclick= detail) Detail
        button.btn.btn-sm.btn-primary.ml-1(onclick= deleteAction) Delete
        br
        br

  script.
    function dispatch(path) {
      window.location.href = path;
    }
